/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --base-font-family: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --main-text-font-weight: 400;
  --title-font-weight: 700;
}